language: python
python:
- '3.6'
- '3.7'
- '3.8'
before_install:
- PYTHON_MAJOR_VERSION=`echo $TRAVIS_PYTHON_VERSION | head -c 1`
- sudo apt-get install python3-pip
install:
- virtualenv -p python3 venv
- source venv/bin/activate
- pip3 install numpy
- pip3 install -e .
script:
- python3 -m pytest -v -x automated_test.py
